body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
  color: white;
}

header {
  max-width: 100%;
  height: 200px;
  background: #1a7de0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 1em;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  color: white;

  .title {
    font-size: 2.5em;
    margin: 0;
    color: black;
    margin: 3rem;
  }
}

.box-tittle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #1a7de0;
  font-size: x-large;
}

#book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
  margin: 5% 10% 10% 10%;
  background: #1a7de0;
}

.book-card-two {
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 5rem;
  padding: 30px;
  border: 1px solid #ffffffc2;
  box-shadow: #000 0px 0px 1px;
  border-radius: 12px;
  background-color: #ffffff;
  width: 60rem;
  height: auto;
  /* min-height: 40rem; */
  max-height: auto;
  transition: transform 0.2s;
  gap: 10px;
}

.book-card-two img {
  width: 40%;
  max-width: 100%;
  max-height: 100%;
  height: 40%;
  object-fit: cover;
  margin-right: 10px;
}

.book-info-two {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}

.book-info-two p {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.box-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 2px;
}

.box-middle-two {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  margin-top: 1rem;
}

.text-center-two {
  text-align: left;
  font-weight: bold;
  color: #007bff;
  font-size: x-large;
}

.text-middle-two {
  text-align: left;
  font-weight: bold;
  color: black;
  font-size: large;
}

.book-card.highlight {
  border: 2px solid #007bff;
}

.recommendation-levels {
  margin-top: 20px;
  background: #000;
}

.recommended-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #dfdfdf;

  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  color: white;
}

.book-card {
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 2rem;
  padding: 30px;
  border: 1px solid #ffffffc2;
  box-shadow: #000 0px 0px 1px;
  border-radius: 12px;
  background-color: #ffffff;
  width: 12%;
  height: 30rem;
  min-height: auto;
  max-height: auto;
  transition: transform 0.2s;
  gap: 10px;

  img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 40%;
    object-fit: cover;
    margin-top: 10px;
  }
}

#suggestions {
  position: absolute;
  background: #007bff;
  border: 1px solid #ddd;
  width: 100%;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #003670;
}

/* .icon-large {
  color: #007bff;
  width: 20%;
  font-size: 38px;
  margin: 2rem 0rem 0rem 2rem;
} */

.icon-container {
  position: relative;
  display: inline-block;
}

.icon-container i {
  color: #007bff;
  width: 20%;
  font-size: 38px;
  margin: 2rem 0rem 0rem 2rem;
}

.hover-label {
  position: relative;
  bottom: 100%; 
  left: 2rem;
  top: -2.8rem;
  transform: translateX(-50%);
  background-color: #333; 
  color: #fff; 
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  font-size: 14px;
}

.icon-container:hover .hover-label {
  opacity: 1;
  visibility: visible;
}
