<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Book Recommender</title>
</head>

<body>
  <h1>Select a Book</h1>

  <form action="/" method="GET">
    <input type="text" name="search" placeholder="Search for a book..." required>
    <button type="submit">Search</button>
  </form>

  <div id="book-list">
    {% for book in books %}
    <div class="book-card">
      <img src="{{ book['imgUrl'] }}" alt="Book Cover" width="100">
      <h3>{{ book['title'] }}</h3>
      <p><strong>Author:</strong> {{ book['author'] }}</p>
      <p><strong>Category:</strong> {{ book['category_name'] }}</p>
      <p><strong>Price:</strong> R$ {{ book['price'] }}</p>
      <p><strong>Rating:</strong> {{ book['stars'] }}</p>
      <form action="/recommend" method="POST">
        <input type="hidden" name="title" value="{{ book['title'] }}">
        <button type="submit">Recommend</button>
      </form>
    </div>
    {% endfor %}
  </div>
</body>

</html>