<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Recommended Books</title>
</head>

<body>
  <h1>Recommended Books</h1>
  <div id="book-list">
    {% for book in books %}
    <div class="book-card">
      <img src="{{ book['imgUrl'] }}" alt="Book Cover" width="100">
      <h3>{{ book['title'] }}</h3>
      <p><strong>Author:</strong> {{ book['author'] }}</p>
      <p><strong>Category:</strong> {{ book['category_name'] }}</p>
      <p><strong>Price:</strong> R$ {{ book['price'] }}</p>
      <p><strong>Rating:</strong> {{ book['stars'] }}</p>
    </div>
    {% endfor %}
  </div>

  <!-- Exibir a distância média -->
  <h2>Average Distance: {{ average_distance }}</h2>

  <a href="/">Go back to search</a>
</body>

</html>